
        <tr>
          <td><%= game.name %></td>
          <td><%= game.console_id %></td>
          <td><%= game.developer %></td>
          <td><%= game.publisher %></td>
          <td><%= game.release_year %></td>
        </tr>



</div>