<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Console:</strong>
  <%= @game.console_id %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @game.developer %>
</p>
<p>
  <strong>Publisher:</strong>
  <%= @game.publisher %>
</p>
<p>
  <strong>Release Year:</strong>
  <%= @game.release_year %>
</p>

<%= link_to 'Back', games_path %>