<p id="page_title" style="color:#f4f4f4">Super Nintendo</p>

<div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--8-col mdl-grid">

  <table id='datatable' class="display mdl-color-text--blue-grey-900">
    <tr>
      <th>Name </th>
      <th> Console </th>
      <th> Developer </th>
      <th> Publisher </th>
      <th> Release Year</th>
    </tr>

    <% @games.each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.console_id %></td>
          <td><%= game.developer %></td>
          <td><%= game.publisher %></td>
          <td><%= game.release_year %></td>
        </tr>
    <% end %>
  </table>

</div>

<%= link_to 'Back', games_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white'%>
